/* Move down content because we have a fixed navbar that is 50px tall */
body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 280px;
}

@font-face {
    font-family: quasimodo;
    src: url(quasimodo.ttf);
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    .jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }
}

@media screen and (max-device-width : 2500px)
{
    .scoreboard h1 {
        font-family: inherit;
        font-size: 54px;
        color: #350400;
    }
    .scoreboard table tbody tr {
        font-family: inherit;
        font-size: 45px;
        color: #350400;
    }
    .scoreboard table tbody tr th {
        padding: 5px 50px;
    }
    div.playerRow {
        font-family: Quasimodo;
        font-size: 45px;
        color: #350400;
        border-bottom: 3px solid #350400;
    }
    div.mkn h1 {
        font-family: Quasimodo;
        font-size: 54px;
        color: #350400;
    }
    div.mkn h2 {
        font-family: Quasimodo;
        font-size: 50px;
        color: #350400;
    }
    div.mkn h3 {
        font-family: Quasimodo;
        font-size: 24px;
        color: #350400;
        margin-top: 10px;
        margin-bottom: 3px;
    }
    div.mkn h4 {
        font-family: Quasimodo;
        font-size: 16px;
        color: #350400;
    }
    li.mknReminder {
        font-family: Quasimodo;
        font-size: 35px;
        color: #350400;
    }
    div.mknFightingLevel {
        font-family: Quasimodo;
        font-size: 80px;
        font-weight:bold;
        color: #350400;
        margin:auto;
    }
}
@media screen and (max-device-width : 1400px)
{
    .scoreboard h1 {
        font-family: inherit;
        font-size: 36px;
        color: #350400;
    }
    .scoreboard table tbody tr {
        font-family: inherit;
        font-size: 32px;
        color: #350400;
    }
    .scoreboard table tbody tr th {
        padding: 5px 34px;
    }
    div.playerRow {
        font-family: Quasimodo;
        font-size: 32px;
        color: #350400;
        border-bottom: 2px solid #350400;
    }
    div.mkn h1 {
        font-family: Quasimodo;
        font-size: 36px;
        color: #350400;
    }
    div.mkn h2 {
        font-family: Quasimodo;
        font-size: 34px;
        color: #350400;
    }
    div.mkn h3 {
        font-family: Quasimodo;
        font-size: 20px;
        color: #350400;
        margin-top: 10px;
        margin-bottom: 3px;
    }
    div.mkn h4 {
        font-family: Quasimodo;
        font-size: 12px;
        color: #350400;
    }
    li.mknReminder {
        font-family: Quasimodo;
        font-size: 28px;
        color: #350400;
    }
    div.mknFightingLevel {
        font-family: Quasimodo;
        font-size: 55px;
        font-weight:bold;
        color: #350400;
        margin:auto;
    }
}

#bg { position: fixed; top: 0; left: 0; z-index: -11; height: 100%;}
.scoreboard{
    margin-top: 8%;
    margin-left: 42%;
    font-family: 'Quasimodo';
}
.scoreboard table tbody tr td {
    text-align:center;
}
.scoreboard table tbody tr td.title {
    font-weight: bold;
}
.btn.mkn {
    background-color: #F1DA9E;
    color: #350400;
    font-family: 'Quasimodo';
    font-size: 20px;
    margin: 0 auto;
    margin-top:5px;
    margin-bottom:5px;
}
div.mkn {    
    text-align:center;
    font-family:Quasimodo;
}
div.mkn2 {
    padding-top: 60px;
}
div.gamePlayerList {
    margin-top: 30%;
}
div.battleLeft {
    border-right: 2px solid #350400;
    height: 800px;
}
div.battleRight {
    border-left: 2px solid #350400;
    height: 800px;
}
.hide {
    display: none;
}